#yourband {
    text-align: center;
    h1 {
        margin-bottom: 0.5em;
    }
    h2 {
        margin-bottom: 0.5em;
    }
    label[for='band-form-bandname'],
    legend {
        display: none;
    }
}
