#news {
    align-content: start;
    .wrapper-date {
        order: -1;
        @media (min-width: $lg) {
            order: 2;
        }
        .react-datepicker-wrapper {
            width: 100%;
        }
    }
}
