#press {
    label[for='press-form-relationship-type'],
    label[for='press-form-relationship'],
    label[for='press-form-attachment-link-text'],
    label[for='press-form-quote'],
    label[for='press-form-attachments'] {
        display: none;
    }
    
    .url-pic-wrapper {
        display: grid;
        justify-content: space-between;
        align-items: center;
        gap: 2em;
        grid-template-columns: 1fr;
        @media (min-width: $lg) {
            margin-bottom: 2em;
            grid-template-columns: 1fr 1fr 1fr;
        }
        label[for='press-form-attachments'] {
            text-align: justify;
            line-height: 1.3em;
        }
    }

}