#settings {
    /* text-align: center; */
    h1,
    h2 {
        flex-grow: 1;
        justify-content: center;
        text-align: justify;
    }

    .human-name {
        text-transform: uppercase;
        font-size: 0.9em;
    }

    #band-form {
        .new-secondary-band {
            label {
                display: none;
            }
            display: flex;
            gap: 1em;
            justify-content: space-between;
            .input-wrapper {
                flex-grow: 1;
            }
        }
    }

    @media (max-width: $lg) {
    }
}
