#writing {
    img {
        max-width: 100% !important;
        height: auto !important;
        width: auto !important;
        position: static !important;
        inset: initial !important;
    }
    table, th, td, tr {
        vertical-align: top !important;
    }
}