// forms

button[type='submit'] {
    @apply btn btn-outline;
    text-transform: none;
    transition-duration: 0ms;
    animation: none;
    transform: none;
    background: #fff;
    &:active:hover,
    &:active:focus {
        animation: none;
        transform: none;
        color: #fff;
        background: #000;
    }
}

input[type='text'],
input[type='password'] {
    border-color: #000;
}

// dropdown

.dropdown-content {
    z-index: 1;
    color: #fff;
    border: 1px solid #fff;
    margin-top: 1em;
    position: absolute;
    *[role='menuitem'] {
        background: #000;
        display: block;
        padding: 1.5em 1.5em;
    }
}
