button {
    @apply btn btn-outline;
    text-transform: none;
    transition-duration: 0ms;
    animation: none;
    transform: none;
    &:active:hover, &:active:focus {
        animation: none;
        transform: none;
        color: #fff;
        background: #000;
    }
}