@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    margin: 0 auto;
}

header {
    h1 {
        position: fixed;
        top: 0;
        left: 0;
    }
    nav {
        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            overflow: hidden;
            li {
                text-align: center;
                flex-grow: 1;
                font-size: 1.5em;
                &:hover a { text-underline-offset: 0.5em; }
                a {
                    display: block;
                    padding: 20px 50px;
                    height: 100%;
                    width: 100%;
                    text-underline-offset: 2px;
                    transition: 100ms;
                    text-decoration: underline;
                }
            }
        }
    }
}

main {
}

.login-form-container {
    height: 100vh;
    display: grid;
    align-content: center;
    text-align: center;
    justify-content: center;

    button {
        @apply btn btn-outline;
    }
}

#login-form {

    .login-form-input {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 1em;
        label {
            margin-right: 1em;
        }
    }
}