$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;

header {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
    @media (min-width: $lg) {
        height: 70px;
    }
}

// main

@import 'components/bodybg';
body {
    @apply background-img;
    background-color: #fff;
    min-height: 100vh;
    @media (min-width: $lg) {
        padding-top: 70px;
    }
}

main {
    @apply mx-auto;
    @apply prose;
    max-width: $md;
    padding-left: 1em;
    padding-right: 1em;
    @media (min-width: $md) {
        padding-left: 0;
        padding-right: 0;
    }
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    min-height: 100vh;
    position: relative;
    @media (min-width: $sm) {
        min-height: calc(100vh - 70px);
    }
    @media (min-width: $lg) {
        min-height: calc(100vh - 70px);
    }
}
.divider:not(.first) {
    margin-top: 5em;
}
