.container {
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    background: #fff;
    h1 {
        position: fixed;
        top: 0;
        left: 0;
    }
    nav {
        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            overflow: hidden;
            li {
                text-align: center;
                flex-grow: 1;
                font-size: 1.5em;
                &:hover a { text-underline-offset: 0.5em; }
                a {
                    display: block;
                    padding: 20px 50px;
                    height: 100%;
                    width: 100%;
                    text-underline-offset: 2px;
                    transition: 100ms;
                    text-decoration: underline;
                }
                &#nav-bands {
                    position: fixed;
                    bottom: 0;
                    right: 0;
                    transform: rotate(-45deg);
                    margin: 0 -47px 0px 0;
                }
            }
        }
    }
}

main {
    padding-top: 100px;
}

.smallcontainer {
    padding-top: 0;
    height: 100vh;
    display: grid;
    align-content: center;
    text-align: center;
    justify-content: center;
}