.login-form-container {
    height: 100vh;
    display: grid;
    align-content: center;
    text-align: center;
    justify-content: center;

    #login-form {
        label {
            display: none;
        }
        .login-form-input {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-bottom: 1em;
            label {
                margin-right: 1em;
            }
        }
    }
}