@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Signika+Negative:wght@300;400;700&display=swap');
// font-family: 'Instrument Sans', sans-serif;
// font-family: 'Signika Negative', sans-serif;

$font-header: 'Signika Negative', sans-serif;
$font-body: 'Instrument Sans', sans-serif;

header {
    font-family: $font-header;
    font-weight: 300;
    letter-spacing: 0.1em;
}

main {
    font-family: $font-body;
}