button[type='submit'],
button[type='button']:not(.menu-button) {
    @apply btn btn-neutral;
    border-radius: 0.5em;
    &:hover {
        color: #000;
        background: #fff;
        border-color: #000;
        --tw-ring-color: #000;
    }
}
