fieldset {
    display: grid;
    grid-template-columns: fit-content(50%) fit-content(50%);
    @media (min-width: $sm) {
        grid-template-columns: fit-content(30%) fit-content(30%) fit-content(30%);
    }
    grid-column-gap: 2em;
    grid-row-gap: 1em;
    justify-content: space-between;
}

.checkbox-wrapper {
    text-align: left;
    display: grid;
    grid-template-columns: 16px 1fr;
    align-items: center;
    grid-column-gap: 1em;
    input:checked,
    input:focus,
    input:active {
        background-color: #000;
        color: #000;
        --tw-ring-color: #000;
    }
    input:focus {
        box-shadow: 0 0 0 2px #fff, 0 0 0 4px #000;
    }
    label,
    input {
        cursor: pointer;
    }
}
