input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='number'],
input[type='date'],
input[type='datetime-local'],
input[type='month'],
input[type='search'],
input[type='tel'],
input[type='time'],
input[type='week'],
input[type='file'],
input[multiple],
textarea,
select {
    --tw-ring-color: #000 !important;
    border-color: #000 !important;
    border-radius: 0;
    &:focus {
        --tw-ring-color: #000 !important;
        border-color: #000 !important;
        border-radius: 0;
    }

    &:disabled {
        opacity: 0.4;
    }
}

input[type='text'],
input[type='password'],
select {
    height: 48px;
}
