.join {
    width: 100%;
    display: flex;

    input[type='radio'] {
        margin: 0;
        flex-grow: 1;
        white-space: nowrap;
    }
    .join-item:checked {
        background-image: none;
        --tw-ring-color: #000;
    }
}
