.richtext-wrapper {
    // hide textarea to prevent layout shift
    textarea {
        display: none;
    }

    .tox-dialog-wrap * {
        font-family: $font-body !important;
    }

    .tox .tox-collection--toolbar .tox-collection__item--active,
    .tox .tox-tbtn--enabled,
    .tox .tox-tbtn--enabled:hover {
        background-color: #aaa !important;
    }
    .tox-tinymce {
        border: 1px solid #000;
        border-radius: 0;
        .tox-editor-header {
            z-index: 0;
            border-bottom: 1px solid #000 !important;
            .tox-tbtn:active,
            .tox-tbtn:hover,
            .tox-tbtn:focus {
                background: #aaa;
            }
        }
        .tox-statusbar__branding {
            display: none;
        }
        .tox-statusbar {
            border-top: 1px solid #000;
        }
        .tox-statusbar a,
        .tox-statusbar__path-item,
        .tox-statusbar__wordcount {
            color: #000;
        }
        .tox-statusbar__resize-handle svg {
            fill: #000;
        }
    }
    button[type="submit"], button[type="button"]:not(#mobile-menu-button) {
        background-color: #fff;
        color: #000;
        font-size: 0.7rem;
        height: 2rem;
        min-height: 2rem;
    }
    .tox .tox-toolbar, .tox .tox-toolbar__overflow, .tox .tox-toolbar__primary {
        background-image: none;
    }
    .tox-tinymce .tox-statusbar__path-item {
        height: 1rem;
        margin: 0.4rem 0 0 0;
    }
}

// save button in link popup
.tox .tox-button[title='Save'] {
    background-color: #000 !important;
    border-color: #000 !important;
    color: #fff !important;
}

// buttons in list popups
.tox .tox-collection--toolbar .tox-collection__item--active,
.tox .tox-collection--toolbar .tox-collection__item--enabled {
    background-color: #ccc !important;
}
