.dropdown-content {
    z-index: 1;
    color: #fff;
    border: 1px solid #fff;
    margin-top: 1em;
    position: absolute;
    *[role='menuitem'] {
        background: #000;
        display: block;
        padding: 1.5em 1.5em;
    }
}
