/* wrappers */
.form-input-box {
    margin-bottom: 1em;
}

/* header */

.form-header {
    margin-bottom: 3em;
    margin-top: 2em;
    @media (min-width: $lg) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    h1 {
        margin: 0;
        display: flex;
        justify-content: center;
        gap: 0.3em;
        align-items: center;
        @media (min-width: $lg) {
            justify-content: flex-start;
        }
        label {
            display: none;
        }
        select {
            border: 0;
            border-bottom: 1px solid #000;
            font-size: 1em;
            padding: 0 1em 0 0;
            border-radius: 0;
            line-height: 48px;
            background-color: transparent;
        }
    }
    select {
        @apply select select-primary;
        background-position: calc(100% - 10px) calc(1px + 50%),
            calc(100% - 0px) calc(1px + 50%);
        background-size: 10px 10px, 10px 10px;
    }
    .new-or-old {
        display: grid;
        justify-items: center;
        justify-content: center;
        grid-template-columns: 1fr 64px 1fr;
        align-items: center;
        margin-top: 1em;
        gap: 0.4em;
        div {
            font-size: 0.8em;
            line-height: 0.9em;
            white-space: nowrap;
        }
        .new-stuff {
            text-align: right;
            justify-self: flex-end;
        }
        .old-stuff {
            text-align: left;
            justify-self: flex-start;
        }
        #new-or-old-toggle {
            @apply toggle toggle-lg;
            background-image: none;
            --tw-bg-opacity: 1;
        }
        @media (min-width: $lg) {
            display: flex;
            margin-top: 0;
        }
    }
}


[type='text']:focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='time']:focus,
[type='week']:focus,
[multiple]:focus,
textarea:focus,
select:focus {
    --tw-ring-color: #000;
    border-color: #000;
}

/* buttons */
button[type='submit'] {
    @apply btn btn-neutral;
    &:hover {
        color: #000;
        background: #fff;
        border-color: #000;
        --tw-ring-color: #000;
    }
}

/* inputs - text etc. */
input[type='text'],
input[type='password'] {
    border-color: #000;
    &:focus {
        border-color: #000;
        --tw-ring-color: #000;
    }
}

/* checkboxes */
fieldset {
    display: grid;
    grid-template-columns: fit-content(50%) fit-content(50%);
    @media (min-width: $sm) {
        grid-template-columns: fit-content(30%) fit-content(30%) fit-content(
                30%
            );
    }
    grid-column-gap: 2em;
    grid-row-gap: 1em;
    justify-content: space-between;
}

.checkbox-wrapper {
    text-align: left;
    display: grid;
    grid-template-columns: 16px 1fr;
    align-items: center;
    grid-column-gap: 1em;
    input:checked,
    input:focus,
    input:active {
        background-color: #000;
        color: #000;
        --tw-ring-color: #000;
    }
    input:focus {
        box-shadow: 0 0 0 2px #fff, 0 0 0 4px #000;
    }
    label,
    input {
        cursor: pointer;
    }
}

/* WYSIWYG */

.richtext-wrapper {
    textarea {
        display: none;
    }
    .tox .tox-collection--toolbar .tox-collection__item--active,
    .tox .tox-tbtn--enabled,
    .tox .tox-tbtn--enabled:hover {
        background-color: #aaa !important;
    }
    .tox-tinymce {
        border: 1px solid #000;
        border-radius: 0;
        .tox-editor-header {
            z-index: 0;
            border-bottom: 1px solid #000 !important;
            .tox-tbtn:active,
            .tox-tbtn:hover,
            .tox-tbtn:focus {
                background: #aaa;
            }
        }
        .tox-statusbar__branding {
            display: none;
        }
        .tox-statusbar {
            border-top: 1px solid #000;
        }
        .tox-statusbar a,
        .tox-statusbar__path-item,
        .tox-statusbar__wordcount {
            color: #000;
        }
        .tox-statusbar__resize-handle svg {
            fill: #000;
        }
    }
}
.tox .tox-button[title='Save'] {
    background-color: #000 !important;
    border-color: #000 !important;
    color: #fff !important;
}

.tox .tox-collection--toolbar .tox-collection__item--active,
.tox .tox-collection--toolbar .tox-collection__item--enabled {
    background-color: #ccc !important;
}

// date picker
.react-datepicker-wrapper input#date {
    @media (min-width: $lg) {
        text-align: center;
    }
}
.react-datepicker__header {
    background: #fff !important;
}
.react-datepicker-popper * {
    font-family: $font-body !important;
}

.react-datepicker__triangle {
    @media (max-width: $lg) {
        left: -50px !important;
    }
}

.react-datepicker__navigation--previous,
.react-datepicker__navigation--next {
    top: 15px !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
    background-color: #000 !important;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
    background-color: #aaa !important;
}

/* select, etc. */
